*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Gilroy";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #1F212C;
  background-color: #F1E6D7;
}
body.modal {
  overflow: hidden;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 160rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

section {
  margin-bottom: 20rem;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 3.2rem;
    width: 100%;
  }
}
.header {
  position: absolute;
  padding-top: 3.5rem;
  left: 0;
  right: 0;
  z-index: 5;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 9.8rem;
  height: 4.2rem;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right-item {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  color: #FEFCF8;
}
.header__link {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__link.active {
  opacity: 0;
}

@media (max-width: 48em) {
  .header {
    padding-top: 8vw;
  }
  .header__logo {
    width: 18.4vw;
    height: 6vw;
  }
  .header__right-item {
    display: none;
  }
}
.footer {
  margin-bottom: 17rem;
}
.footer__img {
  margin: 0 auto;
  margin-bottom: 6.6rem;
  position: relative;
  width: 33.5rem;
  height: 36.6rem;
  overflow: hidden;
}
.footer__img img {
  mix-blend-mode: darken;
}
.footer__img video {
  width: 35rem;
  height: 36.6rem;
  position: absolute;
  top: 0;
  left: -0.5rem;
}
.footer__title {
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 6rem;
  line-height: 110%;
  text-align: center;
  margin-bottom: 2.4rem;
}
.footer__text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  text-align: center;
  color: #6D6D6D;
  margin-bottom: 4.8rem;
}
.footer__links {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__link {
  height: 11.7rem;
}
.footer__link:nth-child(1) {
  width: 34.871rem;
}
.footer__link:nth-child(2) {
  width: 39rem;
}

@media (max-width: 48em) {
  .footer {
    margin-bottom: 26vw;
  }
  .footer__img {
    height: 47.5vw;
    margin: 0 auto;
    margin-bottom: 11.7vw;
    width: 43.3vw;
  }
  .footer__img img {
    mix-blend-mode: darken;
  }
  .footer__img video {
    width: 45.3vw;
    height: 47.5vw;
    left: -0.5vw;
  }
  .footer__title {
    font-size: 8vw;
    line-height: 125%;
    margin-bottom: 2vw;
  }
  .footer__text {
    font-size: 4vw;
    line-height: 120%;
    margin-bottom: 8vw;
  }
  .footer__links {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.4vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__link {
    height: 8vw;
  }
  .footer__link:nth-child(1) {
    width: 42.13vw;
  }
  .footer__link:nth-child(2) {
    width: 47.2vw;
  }
}
.baner {
  margin-bottom: 20rem;
  height: 100.8rem;
}
.baner .container {
  width: 100%;
  margin: 0;
  position: relative;
}
.baner__img {
  width: 100%;
}
.baner__info {
  position: absolute;
  color: #FEFCF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 130rem;
  left: 0;
  right: 0;
  top: 35.5%;
  margin: 0 auto;
  gap: 3rem;
}
.baner__title {
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 10rem;
  line-height: 100%;
}
.baner__text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  text-align: center;
}
.baner__btn {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border: 2px solid #FEFCF8;
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 8.5%;
  margin: 0 auto;
  overflow: hidden;
}
.baner__btn::after {
  position: absolute;
  content: "";
  height: 3.2rem;
  width: 3.2rem;
  background-image: url(../img/icon/arrowdownwhite1.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 28.5%;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.baner__btn:hover:after {
  -webkit-animation: aniArrow 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
          animation: aniArrow 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
}
.baner__btn a {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes aniArrow {
  0% {
    -webkit-transform: rotatez(45deg) translateY(-5.5rem) translateX(-5.5rem);
            transform: rotatez(45deg) translateY(-5.5rem) translateX(-5.5rem);
  }
  100% {
    -webkit-transform: rotatez(45deg) translateY(5.5rem) translateX(5.5rem);
            transform: rotatez(45deg) translateY(5.5rem) translateX(5.5rem);
  }
}

@keyframes aniArrow {
  0% {
    -webkit-transform: rotatez(45deg) translateY(-5.5rem) translateX(-5.5rem);
            transform: rotatez(45deg) translateY(-5.5rem) translateX(-5.5rem);
  }
  100% {
    -webkit-transform: rotatez(45deg) translateY(5.5rem) translateX(5.5rem);
            transform: rotatez(45deg) translateY(5.5rem) translateX(5.5rem);
  }
}
@media (max-width: 48em) {
  .baner {
    margin-bottom: 20rem;
    height: 216vw;
  }
  .baner .container {
    padding: 0;
  }
  .baner__img {
    width: 100%;
    height: 216vw;
  }
  .baner__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .baner__info {
    width: auto;
    left: 0;
    right: 0;
    top: 35.5%;
    margin: 0 3rem;
    gap: 4.2vw;
  }
  .baner__title {
    font-size: 8vw;
    line-height: 125%;
  }
  .baner__text {
    font-size: 4vw;
    line-height: 120%;
    text-align: center;
  }
  .baner__btn {
    position: absolute;
    width: 16.1vw;
    height: 16.1vw;
    border: 2px solid #FEFCF8;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 8%;
    margin: 0 auto;
    overflow: hidden;
  }
  .baner__btn::after {
    position: absolute;
    content: "";
    height: 5vw;
    width: 5vw;
    background-image: url(../img/icon/arrowdownwhite1.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: 30.5%;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .baner__btn:hover:after {
    -webkit-animation: aniArrow 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
            animation: aniArrow 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  }
  .baner__btn a {
    width: 100%;
    height: 100%;
  }
}
.about-app {
  margin-bottom: 17rem;
}
.about-app__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6.6rem;
}
.about-app__title {
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 6rem;
  line-height: 110%;
}
.about-app__text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  width: 72.8rem;
}
.about-app__video {
  position: relative;
  width: 100%;
  height: 78.9rem;
}
.about-app__video[data-state=started]:hover .about-app__video-controls[data-state=visible] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-app__video[data-state=stopped] .about-app__video-controls[data-state=visible] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-app__video[data-state=stopped] .about-app__video-stopped {
  position: absolute;
  display: block;
  width: 10rem;
  height: 10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 33%;
  cursor: pointer;
}
.about-app__video[data-state=not-started] .about-app__video-start {
  display: block;
}
.about-app__video[data-state=not-started] .about-app__video-start-play {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27.4rem;
  height: 27.3rem;
  border: 3px solid #FEFCF8;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 33%;
  cursor: pointer;
}
.about-app__video[data-state=not-started] .about-app__video-start-play.active {
  display: none;
}
.about-app__video[data-state=not-started] .about-app__video-start-play img {
  width: 12.4rem;
  height: 12.4rem;
  margin: 0 auto;
}
.about-app__video[data-state=not-started] .about-app__video-controls {
  display: none;
}
.about-app__video img {
  border-radius: 3.2rem;
}
.about-app__video video {
  width: 100%;
  height: 100%;
  border-radius: 3.2rem;
}
.about-app__video-start {
  display: none;
}
.about-app__video-stopped {
  display: none;
}
.about-app__video-controls {
  width: 98%;
  height: 11.8rem;
  position: absolute;
  background: rgba(45, 45, 45, 0.65);
  -webkit-backdrop-filter: blur(4.90647px);
          backdrop-filter: blur(4.90647px);
  border-radius: 3.14014rem;
  bottom: 1.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 8rem;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  color: #FEFCF8;
}
.about-app__video-controls button {
  border: none;
  cursor: pointer;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}
.about-app__video-controls button[data-state=play] {
  background-image: url("../img/icon/play-mini.svg");
  width: 4.6rem;
  height: 4.6rem;
}
.about-app__video-controls button[data-state=pause] {
  background-image: url("../img/icon/stop.svg");
  width: 4.6rem;
  height: 4.6rem;
}
.about-app__video-controls button[data-state=mute] {
  background-image: url("../img/icon/volume.svg");
  width: 3.2rem;
  height: 3.2rem;
}
.about-app__video-controls button[data-state=on-mute] {
  background-image: url("../img/icon/mute.svg");
  width: 3.2rem;
  height: 3.2rem;
}
.about-app__video-controls button[data-state=go-fullscreen] {
  background-image: url("../img/icon/fullscreen.svg");
  width: 2.25rem;
  height: 2.25rem;
}
.about-app__video-controls button[data-state=remove-fullscreen] {
  background-image: url("../img/icon/fullscreen-remove.svg");
  width: 2.25rem;
  height: 2.25rem;
}
.about-app__video-progress {
  cursor: pointer;
  width: 91.7rem;
  height: 0.9rem;
  border-radius: 2.35rem;
  background: rgba(255, 255, 255, 0.5);
}
.about-app__video-progress-filled {
  position: relative;
  background: #FEFCF8;
  border-radius: 2.35rem;
  height: 100%;
  width: 0;
}
.about-app__video-progress-filled::before {
  content: "";
  width: 2.355rem;
  height: 2.355rem;
  background: #FEFCF8;
  position: absolute;
  border-radius: 50%;
  right: -1rem;
  bottom: -0.9rem;
}
.about-app__video-current, .about-app__video-duration {
  width: 6rem;
}
.about-app__video-controls[data-state=hidden] {
  display: none;
}
.about-app__video input[type=range] {
  overflow: hidden;
  width: 12.5rem;
  -webkit-appearance: none;
  border-radius: 1.1rem;
}
.about-app__video input[type=range]::-webkit-slider-runnable-track {
  height: 0.6rem;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.2);
  margin-top: -1px;
  border-radius: 1.1rem;
}
.about-app__video input[type=range]::-webkit-slider-thumb {
  width: 0;
  -webkit-appearance: none;
  height: 0.6rem;
  background: #FEFCF8;
  -webkit-box-shadow: -80px 0 0 80px #FEFCF8;
          box-shadow: -80px 0 0 80px #FEFCF8;
  border-radius: 1.1rem;
}
.about-app__video input[type=range]::-moz-range-progress {
  background-color: #FEFCF8;
  border-radius: 1.1rem;
}
.about-app__video input[type=range]::-moz-range-track {
  height: 0.6rem;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.2);
  margin-top: -1px;
  border-radius: 1.1rem;
}
.about-app__video input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background-color: #FEFCF8;
}
.about-app__video.fullscreen {
  background-color: #F1E6D7;
  z-index: 12;
  border-radius: 0;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width: 48em) {
  .about-app {
    margin-bottom: 17rem;
  }
  .about-app__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-bottom: 10.6vw;
  }
  .about-app__title {
    font-size: 8vw;
    line-height: 125%;
    margin-bottom: 4.2vw;
  }
  .about-app__text {
    font-size: 4vw;
    line-height: 120%;
    width: auto;
  }
  .about-app__video {
    width: 100%;
    height: 64.3vw;
  }
  .about-app__video img {
    border-radius: 8vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-app__video {
    position: relative;
    width: 100%;
    height: 64.3vw;
  }
  .about-app__video[data-state=stopped] .about-app__video-stopped {
    width: 10.7vw;
    height: 10.7vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    cursor: pointer;
  }
  .about-app__video[data-state=not-started] .about-app__video-start {
    display: block;
  }
  .about-app__video[data-state=not-started] .about-app__video-start-play {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 26.7vw;
    height: 26.7vw;
    border: 3px solid #FEFCF8;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 29%;
    cursor: pointer;
  }
  .about-app__video[data-state=not-started] .about-app__video-start-play.active {
    display: none;
  }
  .about-app__video[data-state=not-started] .about-app__video-start-play img {
    width: 12.2vw;
    height: 12.2vw;
    margin: 0 auto;
  }
  .about-app__video[data-state=not-started] .about-app__video-controls {
    display: none;
  }
  .about-app__video img {
    border-radius: 3.2rem;
  }
  .about-app__video video {
    width: 100%;
    height: 100%;
    border-radius: 6.134vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-app__video-start {
    display: none;
  }
  .about-app__video-controls {
    width: 100%;
    height: 9.87rem;
    position: absolute;
    background: rgba(45, 45, 45, 0.65);
    -webkit-backdrop-filter: blur(4.90647px);
            backdrop-filter: blur(4.90647px);
    border-radius: unset;
    border-bottom-left-radius: 6.134vw;
    border-bottom-right-radius: 6.134vw;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 3.2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.2vw;
    line-height: 120%;
    z-index: 2;
  }
  .about-app__video-controls button {
    border: none;
    cursor: pointer;
    background: transparent;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .about-app__video-controls button[data-state=play] {
    width: 4.6rem;
    height: 4.6rem;
  }
  .about-app__video-controls button[data-state=pause] {
    width: 4.6rem;
    height: 4.6rem;
  }
  .about-app__video-controls button[data-state=mute] {
    margin-left: auto;
    width: 3.2rem;
    height: 3.2rem;
  }
  .about-app__video-controls button[data-state=on-mute] {
    margin-left: auto;
    width: 3.2rem;
    height: 3.2rem;
  }
  .about-app__video-controls button[data-state=go-fullscreen] {
    margin-left: 4rem;
    width: 4rem;
    height: 4rem;
  }
  .about-app__video-controls button[data-state=remove-fullscreen] {
    margin-left: 4rem;
    width: 4rem;
    height: 4rem;
  }
  .about-app__video-progress {
    position: absolute;
    cursor: pointer;
    width: auto;
    height: 1.54vw;
    border-radius: 23.5511px;
    left: 0;
    right: 0;
    margin: 0 3.2vw;
    bottom: 11.3vw;
  }
  .about-app__video-progress-filled {
    border-radius: 23.5511px;
    height: 100%;
    width: 0;
  }
  .about-app__video-progress-filled::before {
    content: "";
    width: 2.6vw;
    height: 2.6vw;
    background: #FEFCF8;
    position: absolute;
    border-radius: 50%;
    right: -1vw;
    bottom: -0.5vw;
  }
  .about-app__video-current, .about-app__video-duration {
    width: 6rem;
  }
  .about-app__video-duration {
    opacity: 0.6;
    margin-left: 2vw;
  }
  .about-app__video-controls[data-state=hidden] {
    display: none;
  }
  .about-app__video-controls[data-state=visible] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-app__video input[type=range] {
    margin-left: 1rem;
    overflow: hidden;
    width: 12.5rem;
    -webkit-appearance: none;
    border-radius: 1.1rem;
  }
  .about-app__video input[type=range]::-webkit-slider-runnable-track {
    height: 1rem;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.2);
    margin-top: -1px;
    border-radius: 1.1rem;
  }
  .about-app__video input[type=range]::-webkit-slider-thumb {
    width: 0;
    -webkit-appearance: none;
    height: 1rem;
    background: #FEFCF8;
    -webkit-box-shadow: -80px 0 0 80px #FEFCF8;
            box-shadow: -80px 0 0 80px #FEFCF8;
    border-radius: 1.1rem;
  }
  .about-app__video input[type=range]::-moz-range-progress {
    background-color: #FEFCF8;
    border-radius: 1.1rem;
  }
  .about-app__video input[type=range]::-moz-range-track {
    height: 1rem;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.2);
    margin-top: -1px;
    border-radius: 1.1rem;
  }
  .about-app__video input[type=range]::-moz-range-thumb {
    width: 0;
    height: 0;
    border: none;
    background-color: #FEFCF8;
  }
  .about-app__video.fullscreen {
    background-color: #F1E6D7;
    z-index: 12;
    border-radius: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  .about-app__video-double {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 2;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 3.2vw;
    line-height: 3, 73vw;
    color: #FFFFFF;
  }
  .about-app__video-double-icon {
    width: 4.26vw;
    height: 5.3vw;
  }
  .about-app__video-double-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    opacity: 0.2;
  }
  .about-app__video-double span {
    margin-top: 0.5vw;
  }
  .about-app__video-double.show {
    opacity: 1;
  }
  .about-app__video-double.left {
    left: 0;
  }
  .about-app__video-double.left span {
    margin-right: 4.8vw;
  }
  .about-app__video-double.left .about-app__video-double-icon {
    margin-right: 4.27vw;
    margin-left: auto;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .about-app__video-double.left .about-app__video-double-back {
    border-top-left-radius: 8.5vw;
    border-bottom-left-radius: 8.5vw;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  .about-app__video-double.right {
    right: 0;
  }
  .about-app__video-double.right span {
    margin-left: 4.8vw;
  }
  .about-app__video-double.right .about-app__video-double-icon {
    margin-left: 4.27vw;
    margin-right: auto;
  }
  .about-app__video-double.right .about-app__video-double-back {
    border-top-right-radius: 8.5vw;
    border-bottom-right-radius: 8.5vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
}
.app-look {
  margin-bottom: 17rem;
}
.app-look .container {
  width: 100%;
}
.app-look__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.app-look__item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 86rem;
}
.app-look__item img {
  width: auto;
  height: 100%;
  border-radius: 4rem;
}
.app-look__item:first-child img {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}
.app-look__item:last-child img {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}
.app-look__item.center {
  height: 102.4rem;
}

@media (max-width: 48em) {
  .app-look {
    margin-bottom: 23rem;
  }
  .app-look .container {
    width: 100%;
    position: relative;
  }
  .app-look__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .app-look__item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 190vw;
    margin: 0 auto;
  }
  .app-look__item.center {
    height: 200vw;
  }
  .app-look__item:first-child img {
    border-radius: 8vw;
  }
  .app-look__item:last-child img {
    border-radius: 8vw;
  }
  .app-look__pagination {
    bottom: -4vw;
    left: 40vw;
  }
  .app-look__pagination .swiper-pagination-bullet {
    width: 2vw;
    height: 2vw;
    display: inline-block;
    border-radius: 50%;
    margin-right: 2vw;
  }
  .app-look__pagination .swiper-pagination-bullet-active {
    background: #2B2F36;
  }
}
.frames__first {
  display: -ms-grid;
  display: grid;
  gap: 3.8rem;
  -ms-grid-columns: 91.8rem 3.8rem auto;
  grid-template-columns: 91.8rem auto;
  -ms-grid-rows: 58.1rem 3.8rem 27.3rem 3.8rem 27.3rem;
  grid-template-rows: 58.1rem 27.3rem 27.3rem;
  margin-bottom: 3.8rem;
}
.frames__first > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.frames__first > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.frames__first > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.frames__first > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.frames__first > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.frames__first > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.frames__first-item {
  border-radius: 3.2rem;
  background-color: #FEFCF8;
  position: relative;
  width: 100%;
}
.frames__first-item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.frames__first-link {
  margin: 0 auto;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  text-align: center;
  color: #A56429;
  margin-top: 5.9rem;
}
.frames__first-title {
  margin: 0 auto;
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 100%;
  text-align: center;
  width: 76.8rem;
}
.frames__first-main-img {
  margin: 0 auto;
  width: 73.8rem;
}
.frames__first-back-text {
  position: absolute;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  width: 52rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 3.2rem;
}
.frames__first-back-img {
  width: 100%;
  height: 100%;
}
.frames__first-back-img img {
  border-radius: 3.2rem;
  width: 100%;
  height: 100%;
}
.frames__first-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5.3rem;
  padding-right: 4.5rem;
  display: flex;
  margin-left: auto;
}
.frames__first-animation-text {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 125%;
  width: 33.2rem;
}
.frames__first-animation-anim {
  width: 16.7rem;
  overflow: hidden;
  height: 21rem;
}
.frames__first-animation:last-child .frames__first-animation-anim {
  width: 18rem;
  position: relative;
  height: 22rem;
}
.frames__first-animation:last-child video {
  width: 18.8rem;
  position: absolute;
  top: 0;
  left: -0.5rem;
}
.frames__first-animation video {
  width: 16.7rem;
}
.frames__second {
  display: -ms-grid;
  display: grid;
  gap: 3.8rem;
  -ms-grid-columns: 91.8rem 3.8rem auto;
  grid-template-columns: 91.8rem auto;
  -ms-grid-rows: 62.2rem 3.8rem 56.5rem;
  grid-template-rows: 62.2rem 56.5rem;
  margin-bottom: 4rem;
}
.frames__second > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.frames__second > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.frames__second > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.frames__second > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.frames__second-item {
  border-radius: 3.2rem;
  background-color: #FEFCF8;
  position: relative;
}
.frames__second-item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.frames__second-main-img {
  margin: 0 auto;
  width: 76.3rem;
}
.frames__second-back-text {
  position: absolute;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  width: 52rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 3.2rem;
}
.frames__second-back-img {
  width: 100%;
  height: 100%;
}
.frames__second-back-img img {
  border-radius: 3.2rem;
  width: 100%;
  height: 100%;
}
.frames__second-animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4.2rem;
}
.frames__second-animation .frames__info-title {
  font-size: 3.4rem;
  width: 41rem;
}
.frames__second-animation-anim {
  width: 26.5rem;
  overflow: hidden;
}
.frames__second-animation video {
  width: 26.5rem;
}
.frames__info-link {
  margin: 0 auto;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  text-align: center;
  color: #A56429;
  margin-top: 5.9rem;
  margin-bottom: 1.2rem;
}
.frames__info-title {
  margin: 0 auto;
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 100%;
  text-align: center;
  width: 76.8rem;
}
.frames__big {
  position: relative;
  border-radius: 3.2rem;
  width: 100%;
  height: 57.8rem;
  margin-bottom: 3.8rem;
}
.frames__big:last-child .frames__big-info {
  width: 91.6rem;
  top: 27.5%;
}
.frames__big-img {
  width: 100%;
  height: 100%;
}
.frames__big-img img {
  border-radius: 3.2rem;
}
.frames__big-info {
  position: absolute;
  width: 76.7rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 22.5%;
}
.frames__big-info-title {
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 100%;
  text-align: center;
  color: #FEFCF8;
  margin-bottom: 2.4rem;
}
.frames__big-info-text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  text-align: center;
  color: #FEFCF8;
  opacity: 0.9;
  margin-bottom: 4.4rem;
}
.frames__main-link {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  margin: 0 auto;
  background: #FEFCF8;
  width: 34.6rem;
  height: 7.3rem;
  border-radius: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3.2rem;
}
.frames__main-link-text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  color: #A56429;
}
.frames__main-link-icon {
  position: relative;
  width: 2.7rem;
  height: 2.7rem;
  background-color: #A56429;
  border-radius: 50%;
}
.frames__main-link-icon::after {
  position: absolute;
  content: "";
  height: 1.35rem;
  width: 2rem;
  background-image: url(../img/icon/arrowdownwhite2.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 28.5%;
  margin: 0 auto;
}

@media (max-width: 48em) {
  .frames__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.2vw;
    margin-bottom: 3.2vw;
  }
  .frames__first-item {
    border-radius: 8vw;
    background-color: #FEFCF8;
    position: relative;
  }
  .frames__first-link {
    margin: 0 auto;
    font-weight: 500;
    font-size: 3.2vw;
    line-height: 120%;
    margin-top: 5.3vw;
  }
  .frames__first-title {
    margin: 0 auto;
    font-size: 6.7vw;
    line-height: 125%;
    text-align: center;
    width: auto;
  }
  .frames__first-main-img {
    margin: 0 auto;
    width: 83vw;
  }
  .frames__first-back-text {
    font-weight: 500;
    font-size: 4vw;
    line-height: 120%;
    width: 65vw;
  }
  .frames__first-animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 4.2vw;
    padding-right: 4.2vw;
    height: 40.6vw;
  }
  .frames__first-animation-text {
    font-weight: 500;
    font-size: 4vw;
    line-height: 120%;
    width: 41vw;
  }
  .frames__first-animation-anim {
    width: 26.2vw;
    height: 33vw;
  }
  .frames__first-animation:last-child .frames__first-animation-anim {
    width: 30.5vw;
    height: 37.4vw;
  }
  .frames__first-animation:last-child video {
    width: 32vw;
    left: -0.7vw;
  }
  .frames__first-animation video {
    width: 26.2vw;
  }
  .frames__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.2vw;
    margin-bottom: 3.2vw;
  }
  .frames__second-item {
    border-radius: 8vw;
    background-color: #FEFCF8;
    position: relative;
  }
  .frames__second-main-img {
    margin: 0 auto;
    width: 83vw;
  }
  .frames__second-back-text {
    font-weight: 500;
    font-size: 4vw;
    line-height: 120%;
    width: 65vw;
  }
  .frames__second-animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 4.2rem;
  }
  .frames__second-animation .frames__info-title {
    font-size: 6.7vw;
    width: 70vw;
  }
  .frames__second-animation-img {
    width: 45.6vw;
  }
  .frames__second-animation-anim {
    width: 45.6vw;
    height: 63.6vw;
  }
  .frames__second-animation video {
    width: 45.6vw;
  }
  .frames__info-link {
    margin: 0 auto;
    font-weight: 500;
    font-size: 3.2vw;
    line-height: 120%;
    margin-top: 5.3vw;
    margin-bottom: 2vw;
  }
  .frames__info-title {
    margin: 0 auto;
    font-size: 6.7vw;
    line-height: 125%;
    text-align: center;
    width: auto;
    margin-bottom: 5.3vw;
  }
  .frames__big {
    position: relative;
    border-radius: 8vw;
    width: 100%;
    height: 146vw;
    margin-bottom: 3.2vw;
  }
  .frames__big:last-child .frames__big-info {
    width: auto;
    top: 27.5%;
  }
  .frames__big-img {
    width: 100%;
    height: 100%;
  }
  .frames__big-img img {
    width: 100%;
    height: 100%;
    border-radius: 8vw;
  }
  .frames__big-info {
    width: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 31%;
  }
  .frames__big-info-title {
    font-size: 6.7vw;
    line-height: 125%;
    margin-bottom: 4.3vw;
  }
  .frames__big-info-text {
    font-weight: 500;
    font-size: 4vw;
    line-height: 120%;
    width: 85vw;
    margin: 0 auto 6.4vw;
  }
  .frames__main-link {
    width: 62.7vw;
    height: 13.87vw;
    border-radius: 8vw;
    padding: 0 5.3vw;
  }
  .frames__main-link-text {
    font-family: "Gilroy Bold";
    font-weight: 700;
    font-size: 4vw;
    line-height: 120%;
  }
  .frames__main-link-icon {
    width: 7.2vw;
    height: 7.2vw;
    border-radius: 50%;
  }
  .frames__main-link-icon::after {
    height: 8.1vw;
    width: 2.7vw;
    top: -0.4vw;
    left: 0.3vw;
  }
}
.questions {
  margin-bottom: 16rem;
}
.questions .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.questions__img {
  width: 57.5rem;
  height: 65rem;
  overflow: hidden;
  margin-top: -7rem;
}
.questions__img img {
  mix-blend-mode: darken;
}
.questions__img video {
  width: 57.5rem;
}
.questions__modul {
  width: 91.5rem;
}
.questions__title {
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 6rem;
  line-height: 110%;
  margin-bottom: 6.4rem;
}
.questions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.questions__item {
  width: 100%;
  position: relative;
  background: #FEFCF8;
  border-radius: 3.2rem;
  cursor: pointer;
}
.questions__item.active .questions__item-text {
  display: block;
  padding-bottom: 2rem;
  max-height: 200rem;
}
.questions__item.active .questions__item-icon {
  background-color: #1F212C;
}
.questions__item.active .questions__item-icon::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.questions__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3.8rem 0 3.2rem;
  height: 8rem;
}
.questions__item-title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
}
.questions__item-icon {
  position: relative;
  width: 2.9rem;
  height: 2.9rem;
  background-color: #A56429;
  border-radius: 2rem;
}
.questions__item-icon::after {
  position: absolute;
  content: "";
  height: 1.35rem;
  width: 2rem;
  background-image: url(../img/icon/arrowdownwhite2.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 28.5%;
  margin: 0 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.questions__item-text {
  width: 64.4rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 125%;
  margin-left: 3.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

@media (max-width: 48em) {
  .questions {
    margin-bottom: 20rem;
  }
  .questions .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .questions__img {
    width: 61vw;
    height: 68.3vw;
    margin: 0 auto;
  }
  .questions__img video {
    width: 61vw;
  }
  .questions__modul {
    width: auto;
  }
  .questions__title {
    font-size: 8vw;
    line-height: 125%;
    margin-bottom: 9.6vw;
  }
  .questions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.1vw;
  }
  .questions__item {
    width: 100%;
    position: relative;
    background: #FEFCF8;
    border-radius: 6.67vw;
    padding: 3.2vw 3.2vw 3.2vw 4.27vw;
    cursor: pointer;
  }
  .questions__item.active .questions__item-text {
    display: block;
    padding-top: 4.8vw;
    padding-bottom: 0;
    max-height: 200vw;
  }
  .questions__item.active .questions__item-icon {
    background-color: #1F212C;
  }
  .questions__item.active .questions__item-icon::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .questions__item-head {
    margin: 0;
    height: auto;
  }
  .questions__item-title {
    font-size: 4vw;
    line-height: 120%;
    width: 68vw;
  }
  .questions__item-icon {
    width: 7.2vw;
    height: 7.2vw;
    border-radius: 50%;
  }
  .questions__item-icon::after {
    height: 8.1vw;
    width: 2.7vw;
    top: -0.4vw;
    left: 0.3vw;
  }
  .questions__item-text {
    width: auto;
    font-weight: 500;
    font-size: 3.2vw;
    line-height: 125%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding-bottom: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
}
.student-work {
  margin-bottom: 23rem;
}
.student-work .container {
  width: 100%;
  position: relative;
}
.student-work__title {
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 110%;
  width: 160rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.student-work__slide {
  background: #FEFCF8;
  border-radius: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.6rem;
}
.student-work__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.7rem 1.6rem 2.4rem;
}
.student-work__icon {
  width: 5.6rem;
  height: 5.6rem;
  margin-right: 1.6rem;
}
.student-work__icon img {
  border-radius: 50%;
}
.student-work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.student-work__info-name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
}
.student-work__info-date {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  color: #6D6D6D;
  margin-top: -0.5rem;
}
.student-work__link {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border: 2px solid #A56429;
  border-radius: 5.5rem;
  margin-left: auto;
  width: 16.4rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 1.6rem 0;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  text-align: center;
  color: #A56429;
  cursor: pointer;
}
.student-work__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  margin: 0 1.6rem 3.3rem;
}
.student-work__img {
  width: 100%;
}
.student-work__img img {
  border-radius: 5.5rem;
}
.student-work__btn-next, .student-work__btn-prev {
  background-image: url(../img/icon/arrowrightbrown.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 9rem;
  height: 3.2rem;
  top: 2.6rem;
}
.student-work__btn-next::after, .student-work__btn-prev::after {
  content: unset;
}
.student-work__btn-next {
  right: 15.5rem;
}
.student-work__btn-prev {
  right: 27rem;
  left: inherit;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0%;
  left: 0%;
  z-index: 11;
  display: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: default;
}
.popup__container {
  background: #FEFCF8;
  width: 74.7rem;
  border-radius: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.6rem;
  margin: auto;
}
.popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 48em) {
  .student-work {
    margin-bottom: 27rem;
  }
  .student-work .container {
    width: 100%;
    position: relative;
  }
  .student-work__title {
    font-size: 8vw;
    line-height: 125%;
    margin-bottom: 9.6vw;
    width: auto;
  }
  .student-work__slide {
    background: #FEFCF8;
    border-radius: 8.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2.1vw;
  }
  .student-work__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3.3vw 2.3vw 4.3vw;
  }
  .student-work__icon {
    width: 10.13vw;
    height: 10.13vw;
    margin-right: 3.2vw;
  }
  .student-work__icon img {
    border-radius: 50%;
  }
  .student-work__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .student-work__info-name {
    font-size: 3.2vw;
    line-height: 120%;
  }
  .student-work__info-date {
    font-size: 3.2vw;
    line-height: 120%;
    margin-top: -0.5rem;
  }
  .student-work__link {
    border: 1px solid #A56429;
    border-radius: 8.5vw;
    width: 32vw;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 2.13vw 0;
    font-weight: 500;
    font-size: 3.2vw;
    line-height: 120%;
    text-align: center;
    color: #A56429;
  }
  .student-work__text {
    font-weight: 500;
    font-size: 4vw;
    line-height: 120%;
    margin: 0 2.3vw 6.67vw;
  }
  .student-work__img {
    width: 100%;
  }
  .student-work__img img {
    border-radius: 8.5vw;
  }
  .student-work__pagination {
    bottom: -9vw;
    left: 40vw;
  }
  .student-work__pagination .swiper-pagination-bullet {
    width: 2vw;
    height: 2vw;
    display: inline-block;
    border-radius: 50%;
    margin-right: 2vw;
  }
  .student-work__pagination .swiper-pagination-bullet-active {
    background: #2B2F36;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0%;
    left: 0%;
    z-index: 11;
    display: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    cursor: default;
  }
  .popup__container {
    background: #FEFCF8;
    width: 91.46vw;
    border-radius: 8.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2.1vw;
    margin: auto;
  }
  .popup.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.reviews {
  margin-bottom: 18rem;
}
.reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: 0;
  margin-left: 16rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85rem;
}
.reviews__head-title {
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 6rem;
  line-height: 110%;
  margin-bottom: 2.4rem;
}
.reviews__head-text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  margin-bottom: 9rem;
}
.reviews__head-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__head-rating-icon {
  width: 4rem;
  height: 4.1rem;
  margin-right: 1rem;
  margin-top: 1.2rem;
}
.reviews__head-rating-number {
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 125%;
  text-transform: uppercase;
  margin-right: 2rem;
}
.reviews__head-rating-line {
  height: 5.8rem;
  width: 2px;
  background-color: #1F212C;
  margin-right: 1.5rem;
}
.reviews__head-rating-text {
  width: 39.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 125%;
}
.reviews__container {
  width: 82.5rem;
  position: relative;
}
.reviews__slide {
  background: #FEFCF8;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.5rem 4.4rem 5.1rem;
}
.reviews__slide-text {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 125%;
  margin-bottom: 2rem;
}
.reviews__slide-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__slide-bottom-icon {
  width: 6.5rem;
  height: 6.5rem;
  margin-right: 1.2rem;
}
.reviews__slide-bottom-icon img {
  border-radius: 50%;
}
.reviews__slide-bottom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews__slide-bottom-name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
}
.reviews__slide-bottom-course {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 120%;
  color: #6D6D6D;
}
.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.783rem;
}
.reviews__star {
  width: 2.2rem;
  height: 2.2rem;
}
.reviews__btn-next, .reviews__btn-prev {
  background-image: url(../img/icon/arrowrightbrown.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 9rem;
  height: 3.2rem;
  top: 40.6rem;
}
.reviews__btn-next::after, .reviews__btn-prev::after {
  content: unset;
}
.reviews__btn-next {
  right: 15.5rem;
}
.reviews__btn-prev {
  right: 27rem;
  left: inherit;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 48em) {
  .reviews {
    margin-bottom: 26rem;
  }
  .reviews .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin-right: 0;
    margin-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reviews__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin-bottom: 9vw;
  }
  .reviews__head-title {
    font-size: 8vw;
    line-height: 125%;
    margin-bottom: 4.27vw;
  }
  .reviews__head-text {
    font-size: 4vw;
    line-height: 120%;
    margin-bottom: 8.7vw;
  }
  .reviews__head-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__head-rating-icon {
    width: 7.2vw;
    height: 7.2vw;
    margin-right: 1.1vw;
    margin-top: 0;
  }
  .reviews__head-rating-number {
    font-size: 8vw;
    line-height: 125%;
    margin-right: 3.2vw;
  }
  .reviews__head-rating-line {
    height: 6.7vw;
    width: 2px;
    margin-right: 2.13vw;
  }
  .reviews__head-rating-text {
    width: 55vw;
    font-size: 3.2vw;
    line-height: 120%;
  }
  .reviews__container {
    width: auto;
    position: relative;
  }
  .reviews__slide {
    background: #FEFCF8;
    border-radius: 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4.5rem 4.4rem 5.1rem;
  }
  .reviews__slide-text {
    font-weight: 500;
    font-size: 4vw;
    line-height: 120%;
    margin-bottom: 4.3vw;
  }
  .reviews__slide-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reviews__slide-bottom-icon {
    width: 10.1vw;
    height: 10.1vw;
    margin-right: 3.2vw;
  }
  .reviews__slide-bottom-icon img {
    border-radius: 50%;
  }
  .reviews__slide-bottom-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews__slide-bottom-name {
    font-weight: 500;
    font-size: 3.2vw;
    line-height: 120%;
  }
  .reviews__slide-bottom-course {
    font-weight: 500;
    font-size: 3.2vw;
    line-height: 120%;
  }
  .reviews__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4.6vw;
  }
  .reviews__star {
    width: 3.55vw;
    height: 3.55vw;
    margin-right: 1.5vw;
  }
  .reviews__pagination {
    bottom: -9vw;
    left: 40vw;
  }
  .reviews__pagination .swiper-pagination-bullet {
    width: 2vw;
    height: 2vw;
    display: inline-block;
    border-radius: 50%;
    margin-right: 2vw;
  }
  .reviews__pagination .swiper-pagination-bullet-active {
    background: #2B2F36;
  }
}
.about-us {
  margin-bottom: 25rem;
}
.about-us__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us__title {
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 6rem;
  line-height: 110%;
}
.about-us__text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  width: 78.9rem;
}
.about-us__line {
  position: absolute;
  top: 5.4rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background: #A56429;
  background: -webkit-gradient(linear, left top, right top, from(rgba(221, 20, 68, 0)), color-stop(30%, #A56429), color-stop(60%, #A56429), to(rgba(221, 20, 68, 0)));
  background: linear-gradient(90deg, rgba(221, 20, 68, 0) 0%, #A56429 30%, #A56429 60%, rgba(221, 20, 68, 0) 100%);
}
.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7rem;
  position: relative;
}
.about-us__item {
  width: 25%;
  position: relative;
  z-index: 1;
}
.about-us__cir-wr {
  width: 12.2rem;
  height: 12.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.6rem;
}
.about-us__cir-wr.win {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #A56429;
  border-radius: 100%;
}
.about-us__cir-wr.win img {
  width: 4.9rem;
  height: 4.9rem;
}
.about-us__cir {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 1.5rem solid #A56429;
  background-color: #fff;
}
.about-us__info-num {
  font-family: "Austin Cyr";
  font-weight: 700;
  font-size: 6rem;
  line-height: 110%;
  margin-bottom: 1.2rem;
}
.about-us__info-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  width: 32rem;
}

@media (max-width: 48em) {
  .about-us {
    margin-bottom: 16rem;
  }
  .about-us__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: auto;
    margin-bottom: 8rem;
  }
  .about-us__title {
    font-size: 8vw;
    line-height: 125%;
    width: auto;
    margin-bottom: 3.2vw;
  }
  .about-us__text {
    font-size: 4vw;
    line-height: 150%;
    width: auto;
    height: auto;
  }
  .about-us__line {
    position: absolute;
    top: 0vw;
    left: 5.6vw;
    width: 2vw;
    height: 98vw;
    background: #A56429;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(221, 20, 68, 0)), color-stop(40%, #A56429), color-stop(60%, #A56429), to(rgba(221, 20, 68, 0)));
    background: linear-gradient(1800deg, rgba(221, 20, 68, 0) 0%, #A56429 40%, #A56429 60%, rgba(221, 20, 68, 0) 100%);
  }
  .about-us__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  .about-us__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    z-index: 1;
    margin-bottom: 8vw;
  }
  .about-us__item:nth-child(3) {
    margin-bottom: 12vw;
  }
  .about-us__cir-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 13.3vw;
    height: 13.3vw;
    margin-bottom: 0rem;
    margin-right: 4.5rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-us__cir-wr.win {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #A56429;
    border-radius: 100%;
  }
  .about-us__cir-wr.win img {
    width: 5.3vw;
    height: 5.3vw;
  }
  .about-us__cir {
    width: 5.3vw;
    height: 5.3vw;
    border: 2vw solid #A56429;
    margin-bottom: 4vw;
  }
  .about-us__info {
    margin-top: auto;
    margin-bottom: auto;
  }
  .about-us__info-num {
    font-size: 8vw;
    margin-bottom: 0rem;
    line-height: 125%;
    margin-bottom: 1rem;
  }
  .about-us__info-text {
    font-size: 4vw;
    padding-right: 0;
    line-height: 120%;
    width: auto;
  }
}
.fixed-link {
  position: fixed;
  z-index: 12;
  right: 16rem;
  bottom: 2rem;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.fixed-link__main {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  margin: 0 auto;
  background: #FEFCF8;
  width: 34.6rem;
  height: 7.3rem;
  border-radius: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3.2rem;
}
.fixed-link__main-text {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 150%;
  color: #A56429;
}
.fixed-link__main-icon {
  position: relative;
  width: 2.7rem;
  height: 2.7rem;
  background-color: #A56429;
  border-radius: 2rem;
}
.fixed-link__main-icon::after {
  position: absolute;
  content: "";
  height: 1.35rem;
  width: 2rem;
  background-image: url(../img/icon/arrowdownwhite2.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  top: 28.5%;
  margin: 0 auto;
}
.fixed-link.show {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media (max-width: 48em) {
  .fixed-link {
    position: fixed;
    right: 4vw;
    top: unset;
    bottom: 5vw;
  }
  .fixed-link__main {
    width: 62.7vw;
    height: 13.87vw;
    border-radius: 8vw;
    padding: 0 5.3vw;
  }
  .fixed-link__main-text {
    font-family: "Gilroy Bold";
    font-weight: 700;
    font-size: 4vw;
    line-height: 120%;
  }
  .fixed-link__main-icon {
    width: 7.2vw;
    height: 7.2vw;
    border-radius: 50%;
  }
  .fixed-link__main-icon::after {
    height: 8.1vw;
    width: 2.7vw;
    top: -0.4vw;
    left: 0.3vw;
  }
}
@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}