.about-app {
    margin-bottom: 17rem;

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.6rem;
    }
    &__title {
        font-family: 'Austin Cyr';
        font-weight: 700;
        font-size: 6rem;
        line-height: 110%;
    }
    &__text {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 150%;
        width: 72.8rem;
    }
    &__video {
        width: 100%;
        height: 78.9rem;

        img {
            border-radius: 3.2rem;
        }
    }
}

@media (max-width: 48em) {
    .about-app {
        margin-bottom: 17rem;
    
        &__head {
            display: flex;
            flex-direction: column;
            justify-content: unset;
            margin-bottom: 10.6vw;
        }
        &__title {
            font-size: 8vw;
            line-height: 125%;
            margin-bottom: 4.2vw;
        }
        &__text {
            font-size: 4vw;
            line-height: 120%;
            width: auto;
        }
        &__video {
            width: 100%;
            height: 64.3vw;
    
            img {
                border-radius: 8.5vw;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}