.fixed-link {
    position: fixed;
    z-index: 12;
    right: 16rem;
    bottom: 2rem;
    opacity: 0;
    transition: all 1s;
    transform: translateY(100%);

    &__main {
        appearance: button;
        margin: 0 auto;
        background: #FEFCF8;
        width: 34.6rem;
        height: 7.3rem;
        border-radius: 5.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.2rem;

        &-text {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 150%;
            color: #A56429;
        }
        &-icon {
            position: relative;
            width: 2.7rem;
            height: 2.7rem;
            background-color: #A56429;
            border-radius: 2rem;

            &::after {
                position: absolute;
                content: '';
                height: 1.35rem;
                width:  2rem;
                background-image: url(../img/icon/arrowdownwhite2.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                left: 0;
                right: 0;
                top: 28.5%;
                margin: 0 auto;
            }
        }
    }
    &.show {
        opacity: 1;
        transform: translateY(0%);
    }
}
@media (max-width: 48em) {
    .fixed-link {
        position: fixed;
        right: 4vw;
        top: unset;
        bottom: 5vw;
    
        &__main {
            width: 62.7vw;
            height: 13.87vw;
            border-radius: 8vw;
            padding: 0 5.3vw;
    
            &-text {
                font-family: 'Gilroy Bold';
                font-weight: 700;
                font-size: 4vw;
                line-height: 120%;
            }
            &-icon {
                width: 7.2vw;
                height: 7.2vw;
                border-radius: 50%;
    
                &::after {
                    height: 8.1vw;
                    width:  2.7vw;
                    top: -0.4vw;
                    left: 0.3vw;
                }
            }
        }
    }
}